
.question h2 {
  font-weight: normal;
  font-size: 20pt;
  margin-top: 0;
}

.question button {
  margin-right: 10px;
  background-color: #ccc;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 3px;
  padding: 2px 5px;
}

.question .selected {
  font-weight: bold;
  background-color: #aaa;
}