
.quizPane {
  padding: 50px;
}

.questionPane {
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #aaa;
  background-color: #f0f0f0;
}

.questionNumber {
  font-style: italic;
  font-size: smaller;
}