.header-menu {
  height: auto;
}
.header-menu ul li {
  height: auto;
  display: inline-block;
}
.header-menu ul li button {
  border-radius: 10%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 60px;
  margin-right: 10px;
  padding: 0 10px;
  background-color: rgb(182, 181, 181);
}
.selected {
  background-color: blue;
  font-style: oblique;
  border: 3px solid rgb(0, 0, 0);
}
